In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df=pd.read_csv('titanic.csv')

In [3]:
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500
5,0,3,Mr. James Moran,male,27.0,0,0,8.4583
6,0,1,Mr. Timothy J McCarthy,male,54.0,0,0,51.8625
7,0,3,Master. Gosta Leonard Palsson,male,2.0,3,1,21.0750
8,1,3,Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson,female,27.0,0,2,11.1333
9,1,2,Mrs. Nicholas (Adele Achem) Nasser,female,14.0,1,0,30.0708
10,1,3,Miss. Marguerite Rut Sandstrom,female,4.0,1,1,16.7000
11,1,1,Miss. Elizabeth Bonnell,female,58.0,0,0,26.5500
12,0,3,Mr. William Henry Saundercock,male,20.0,0,0,8.0500
13,0,3,Mr. Anders Johan Andersson,male,39.0,1,5,31.2750
14,0,3,Miss. Hulda Amanda Adolfina Vestrom,female,14.0,0,0,7.8542
15,1,2,Mrs. (Mary D Kingcome) Hewlett,female,55.0,0,0,16.0000
16,0,3,Master. Eugene Rice,male,2.0,4,1,29.1250
17,1,2,Mr. Charles Eugene Williams,male,23.0,0,0,13.0000
18,0,3,Mrs. Julius (Emelia Maria Vandemoortele) Vande...,female,31.0,1,0,18.0000
19,1,3,Mrs. Fatima Masselmani,female,22.0,0,0,7.2250
20,0,2,Mr. Joseph J Fynney,male,35.0,0,0,26.0000
21,1,2,Mr. Lawrence Beesley,male,34.0,0,0,13.0000
22,1,3,Miss. Anna McGowan,female,15.0,0,0,8.0292
23,1,1,Mr. William Thompson Sloper,male,28.0,0,0,35.5000
24,0,3,Miss. Torborg Danira Palsson,female,8.0,3,1,21.0750
25,1,3,Mrs. Carl Oscar (Selma Augusta Emilia Johansso...,female,38.0,1,5,31.3875
26,0,3,Mr. Farred Chehab Emir,male,26.0,0,0,7.2250
27,0,1,Mr. Charles Alexander Fortune,male,19.0,3,2,263.0000
28,1,3,Miss. Ellen O'Dwyer,female,24.0,0,0,7.8792
29,0,3,Mr. Lalio Todoroff,male,23.0,0,0,7.8958
...,...,...,...,...,...,...,...,...
857,0,2,Mr. Frederick Edward Giles,male,21.0,1,0,11.5000
858,1,1,Mrs. Frederick Joel (Margaret Welles Barron) S...,female,48.0,0,0,25.9292
859,0,3,Miss. Dorothy Edith Sage,female,14.0,8,2,69.5500
860,0,2,Mr. John William Gill,male,24.0,0,0,13.0000
861,1,2,Mrs. (Karolina) Bystrom,female,42.0,0,0,13.0000
862,1,2,Miss. Asuncion Duran y More,female,27.0,1,0,13.8583
863,0,1,Mr. Washington Augustus II Roebling,male,31.0,0,0,50.4958
864,0,3,Mr. Philemon van Melkebeke,male,23.0,0,0,9.5000
865,1,3,Master. Harold Theodor Johnson,male,4.0,1,1,11.1333
866,0,3,Mr. Cerin Balkic,male,26.0,0,0,7.8958
867,1,1,Mrs. Richard Leonard (Sallie Monypeny) Beckwith,female,47.0,1,1,52.5542
868,0,1,Mr. Frans Olof Carlsson,male,33.0,0,0,5.0000
869,0,3,Mr. Victor Vander Cruyssen,male,47.0,0,0,9.0000
870,1,2,Mrs. Samuel (Hannah Wizosky) Abelson,female,28.0,1,0,24.0000
871,1,3,Miss. Adele Kiamie Najib,female,15.0,0,0,7.2250
872,0,3,Mr. Alfred Ossian Gustafsson,male,20.0,0,0,9.8458
873,0,3,Mr. Nedelio Petroff,male,19.0,0,0,7.8958
874,0,3,Mr. Kristo Laleff,male,23.0,0,0,7.8958
875,1,1,Mrs. Thomas Jr (Lily Alexenia Wilson) Potter,female,56.0,0,1,83.1583
876,1,2,Mrs. William (Imanita Parrish Hall) Shelley,female,25.0,0,1,26.0000
877,0,3,Mr. Johann Markun,male,33.0,0,0,7.8958
878,0,3,Miss. Gerda Ulrika Dahlberg,female,22.0,0,0,10.5167
879,0,2,Mr. Frederick James Banfield,male,28.0,0,0,10.5000
880,0,3,Mr. Henry Jr Sutehall,male,25.0,0,0,7.0500
881,0,3,Mrs. William (Margaret Norton) Rice,female,39.0,0,5,29.1250
882,0,2,Rev. Juozas Montvila,male,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,female,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,female,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,male,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,male,32.0,0,0,7.7500

In [4]:
df.drop(["Name","Fare",'Sex'],axis=1,inplace=True)

In [5]:
df

     Survived  Pclass   Age  Siblings/Spouses Aboard  Parents/Children Aboard
0           0       3  22.0                        1                        0
1           1       1  38.0                        1                        0
2           1       3  26.0                        0                        0
3           1       1  35.0                        1                        0
4           0       3  35.0                        0                        0
5           0       3  27.0                        0                        0
6           0       1  54.0                        0                        0
7           0       3   2.0                        3                        1
8           1       3  27.0                        0                        2
9           1       2  14.0                        1                        0
10          1       3   4.0                        1                        1
11          1       1  58.0                        0                        0
12          0       3  20.0                        0                        0
13          0       3  39.0                        1                        5
14          0       3  14.0                        0                        0
15          1       2  55.0                        0                        0
16          0       3   2.0                        4                        1
17          1       2  23.0                        0                        0
18          0       3  31.0                        1                        0
19          1       3  22.0                        0                        0
20          0       2  35.0                        0                        0
21          1       2  34.0                        0                        0
22          1       3  15.0                        0                        0
23          1       1  28.0                        0                        0
24          0       3   8.0                        3                        1
25          1       3  38.0                        1                        5
26          0       3  26.0                        0                        0
27          0       1  19.0                        3                        2
28          1       3  24.0                        0                        0
29          0       3  23.0                        0                        0
..        ...     ...   ...                      ...                      ...
857         0       2  21.0                        1                        0
858         1       1  48.0                        0                        0
859         0       3  14.0                        8                        2
860         0       2  24.0                        0                        0
861         1       2  42.0                        0                        0
862         1       2  27.0                        1                        0
863         0       1  31.0                        0                        0
864         0       3  23.0                        0                        0
865         1       3   4.0                        1                        1
866         0       3  26.0                        0                        0
867         1       1  47.0                        1                        1
868         0       1  33.0                        0                        0
869         0       3  47.0                        0                        0
870         1       2  28.0                        1                        0
871         1       3  15.0                        0                        0
872         0       3  20.0                        0                        0
873         0       3  19.0                        0                        0
874         0       3  23.0                        0                        0
875         1       1  56.0                        0                        1
876         1       2  25.0                        0                        1
877         0       3  33.0                        0                        0
878         0       3  22.0                        0                        0
879         0       2  28.0                        0                        0
880         0       3  25.0                        0                        0
881         0       3  39.0                        0                        5
882         0       2  27.0                        0                        0
883         1       1  19.0                        0                        0
884         0       3   7.0                        1                        2
885         1       1  26.0                        0                        0
886         0       3  32.0                        0                        0

[887 rows x 5 columns]

In [6]:
X=df.iloc[0:,1:]

In [7]:
X

     Pclass   Age  Siblings/Spouses Aboard  Parents/Children Aboard
0         3  22.0                        1                        0
1         1  38.0                        1                        0
2         3  26.0                        0                        0
3         1  35.0                        1                        0
4         3  35.0                        0                        0
5         3  27.0                        0                        0
6         1  54.0                        0                        0
7         3   2.0                        3                        1
8         3  27.0                        0                        2
9         2  14.0                        1                        0
10        3   4.0                        1                        1
11        1  58.0                        0                        0
12        3  20.0                        0                        0
13        3  39.0                        1                        5
14        3  14.0                        0                        0
15        2  55.0                        0                        0
16        3   2.0                        4                        1
17        2  23.0                        0                        0
18        3  31.0                        1                        0
19        3  22.0                        0                        0
20        2  35.0                        0                        0
21        2  34.0                        0                        0
22        3  15.0                        0                        0
23        1  28.0                        0                        0
24        3   8.0                        3                        1
25        3  38.0                        1                        5
26        3  26.0                        0                        0
27        1  19.0                        3                        2
28        3  24.0                        0                        0
29        3  23.0                        0                        0
..      ...   ...                      ...                      ...
857       2  21.0                        1                        0
858       1  48.0                        0                        0
859       3  14.0                        8                        2
860       2  24.0                        0                        0
861       2  42.0                        0                        0
862       2  27.0                        1                        0
863       1  31.0                        0                        0
864       3  23.0                        0                        0
865       3   4.0                        1                        1
866       3  26.0                        0                        0
867       1  47.0                        1                        1
868       1  33.0                        0                        0
869       3  47.0                        0                        0
870       2  28.0                        1                        0
871       3  15.0                        0                        0
872       3  20.0                        0                        0
873       3  19.0                        0                        0
874       3  23.0                        0                        0
875       1  56.0                        0                        1
876       2  25.0                        0                        1
877       3  33.0                        0                        0
878       3  22.0                        0                        0
879       2  28.0                        0                        0
880       3  25.0                        0                        0
881       3  39.0                        0                        5
882       2  27.0                        0                        0
883       1  19.0                        0                        0
884       3   7.0                        1                        2
885       1  26.0                        0                        0
886       3  32.0                        0                        0

[887 rows x 4 columns]

In [8]:
y=df.iloc[:,0]

In [9]:
y

0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
857    0
858    1
859    0
860    0
861    1
862    1
863    0
864    0
865    1
866    0
867    1
868    0
869    0
870    1
871    1
872    0
873    0
874    0
875    1
876    1
877    0
878    0
879    0
880    0
881    0
882    0
883    1
884    0
885    1
886    0
Name: Survived, Length: 887, dtype: int64

In [10]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33)

In [11]:
logreg=LogisticRegression()
logreg.fit(X_train,y_train)

C:\Users\APOORV\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [12]:
y_pred=logreg.predict(X_test)

In [13]:
logreg.score(X_test,y_test)

0.658703071672355